<!DOCTYPE html>
<html>
  <head>
    <title>Maura Kieft </title>
    <link rel="stylesheet" type="text/css" href="/css/main.css>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
       
      </ul>
    </nav>
    <div class="container">
      <div class="blurb">
        <h1> Hi there, I'm Maura Alice Kieft!</h1>
        <p>Check out my Software Development Tool and Methods Homework 1: </p>
          <li><a href="/mypages">Part 1: mypages.html</a></li>
          <li><a href="/mypages_bootsrap">Part 2: mypages_bootsrap.html</a></li>
          <li><a href="/form">Part 3: form.html</a></li>
      </div>
    </div>
  </body>
</html>
