<!DOCTYPE html>
<html>
  <head>
    <title>Maura Kieft </title>
    <link rel="stylesheet" type="text/css" href="/css/main.css>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
       
      </ul>
    </nav>
    <div class="container">
      <div class="blurb">
        <h1> Hi there, I'm Maura Alice Kieft!</h1>
                        <p>Check out my files for Software Development Tools and Methods Homework 1!
                        <ul>
                        <li><a href="/mypage.html">Part 1:My Page</a></li>
                        <li><a href="/mypage_bootsrap.html">Part 2: My Page Bootsrap</a></li>
                        <li><a href="/form.html">Part 3: Form</a></li>
                                             
      
      </div>
    </div>
  </body>
</html>
